body{
  margin:0;
}
.fundo{
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to right, #78e3de, #13817c);
    padding: 5% 0%;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 5px 2px #13817c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
}

.caixa-criar{
    width: 100vw;
    height: 200px;
    margin: auto;
    text-align: center;

}

.caixa-criar table{
    margin: auto;
    background-color:white;
    padding: 20px;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    color:#13817c;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 8px 8px;
    
}
.caixa-criar td{
    padding-left: 20px;
}
.caixa-criar button{
    border: none;
    background-color: white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color:#13817c;
    font-weight: bold;
}
.caixa-criar button:focus{

    color:#78e3de;
    

}
#criar{
    transition: 500ms;
    
}

#criar > input{
    width: 100%;
    border: none;
    border-bottom: 2px dotted #13817c;
    font-family: 'Courier New', Courier, monospace;
    color:#13817c;
    font-weight: bold;
    font-size: 1.4rem;
}

.caixa-tarefas{
    width: 800px;
    height: 100vh;
    margin: auto;
}
.txt-tarefa{
    margin-top: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px dotted #13817c;
    text-indent: 01px;
    background-color: white;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    color:#13817c;
}

.div-tarefa{
    height: 30px;
    margin-top: 10px;
    width: 100%;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 30px;
    text-indent: 30px;
    background-color: white;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    color:#13817c;
    box-shadow: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.div-tarefa > i {
   margin-right: 40px;
   font-size: 2.3rem;
   transition: 1s;
}


.exclui{
    margin-top: 10px;
    margin-left: 10px;
    width: 10%;
    padding-top: 5px;
    border-radius: 30px;
    border: none;
    background-color: white;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    color:#13817c;
}
.imagem{
    width:60%;
}
.btnlimpalista{
    margin-top: -100px;
    background-color: transparent;
    color: #13817c;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 35%;
    border: none;
    border-radius: 50%;
    padding: 20px;
}
.imgbtn{
    border: 1px solid white;
    border-radius: 55%;
    width: 35%;
}



textarea:focus,input:focus,select:focus, button:focus { 
    border-color: none !important; 
    outline: 0;
     -webkit-box-shadow: none !important;
      box-shadow: none !important;
}


.mark{
    width: 30px;
    position: absolute;
    right: 370px;
    margin-top: -3px;

}

[data-anime].animate{
    animation: arrasta .5s forwards ease-in;
}

@keyframes arrasta{
    0%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    35%{
        opacity: 1;
        transform: translate3d(-50px,0,0);
    }
    100%{
        opacity: 0;
        transform: translate3d(200px,0,0);
    }
}
#relogio{
    position: absolute;
    top: 2%;
    left: 2%;
}
#dia{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    
}
#horas{
    font-size: 1.7rem;
    font-family: 'Courier New', Courier, monospace;
    color:#13817c ;
    font-weight: bolder;
    
}
#horas > span{
    animation: piscar 1s infinite;
}
#dia::before{
    content: 'dia';
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color:#13817c ;
    padding-right:2%;
    
}

@keyframes piscar{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}